h1,h2,legend {
  font-family: 'Maitree', serif;
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url('https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: black;
}

/* Collapsible style */
.collapsible {
  width: 100%;
  text-align: left;
  border-radius: 5px 5px 0 0;
}

.collapsible:after {
  content: '\23F7';
  float: right;
}

.active:after {
  content: "\23F6";
}

.insideCollapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #eaf0f7;
  border-radius: 0 0 5px 5px;
}