h1,h2 {
  font-family: 'Maitree', serif;
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
}




#contact-info{
  width: 100%;

}

#more-info {
    border: 2px solid #333;
    padding: 10px;
}

#info {
    width: 100%;      /* Takes up the full width of the fieldset */
    height: 150px;    
    padding: 10px;
    font-size: 1rem;
}